@model IEnumerable<LanguageSchool.Models.ViewModels.CourseViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body background="~/images/Background_courses.jpg">
    <table class="table">
        <tr>
            <th></th>
            <th>
                Kurs
            </th>
            <th>
                Opis
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CreationDate
                </td>
                <td>
                    @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                </td>
                <td>
                    @item.ShortDescription
                </td>
            </tr>
        }

    </table>
</body>
</html>
