@using System;
@using System.Collections.Generic;
@using System.Data;
@using System.Data.Entity;
@using System.Linq;
@using System.Net;
@using System.Web;
@using System.Web.Mvc;
@using LanguageSchool.Models;
@using LanguageSchool.Models.ViewModels;

@model TimeTableViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="bordered col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">
                    </th>
                    <th class="text-center">
                        Poniedziałek
                    </th>
                    <th class="text-center">
                        Wtorek
                    </th>
                    <th class="text-center">
                        Środa
                    </th>
                    <th class="text-center">
                        Czwartek
                    </th>
                    <th class="text-center">
                        Piątek
                    </th>
                    <th class="text-center">
                        Sobota
                    </th>
                    <th class="text-center">
                        Niedziela
                    </th>
                </tr>

                @for (int i = 0; i < 12; i++)
                {
                    var currentHour = i + 8 + ".15";
                    var nextHour = (i + 8 + 1) + ".15";
                        <tr>
                            <td style="padding-top: 25px; padding-bottom: 25px;">
                                @currentHour - @nextHour
                            </td>
                            @for (int j = (int)Consts.DaysOfWeek.Monday; j <= (int)Consts.DaysOfWeek.Sunday; j++)
                            {
                                GroupTime current = Model.Times.Where(gt => (gt.DayOfWeekId == j) && !(gt.EndTime < i + 8) && !(gt.StartTime > i + 8)).FirstOrDefault();
                                if (current == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    var style = "font-size: 10px;";
                                    var show = true;

                                    if ((i + 8) > current.StartTime)
                                    {
                                        style += "border-top-style: none;";
                                        show = false;
                                    }

                                    if (current.EndTime > (i + 8))
                                    {
                                        style += "border-bottom-style: none;";
                                    }

                                    var courseName = current.Group.Course.Name;
                                    var groupName = current.Group.Name;

                                    var color = 0;
                                    var lightness = 0.0;

                                    for (int k = 1; k <= courseName.Length; k++)
                                    {
                                        color += k * (int)courseName[k - 1];
                                    }

                                    for (int k = 1; k <= groupName.Length; k++)
                                    {
                                        lightness += k * (int)groupName[k - 1];
                                    }

                                    string hexColor = color.ToString("X6"); // int.Parse(color, System.Globalization.NumberStyles.HexNumber);

                                    double red = Convert.ToInt32(hexColor.Substring(0, 2), 16);
                                    double green = Convert.ToInt32(hexColor.Substring(2, 2), 16);
                                    double blue = Convert.ToInt32(hexColor.Substring(4, 2), 16);

                                    var rgbColor = System.Drawing.Color.FromArgb((int)red, (int)green, (int)blue);

                                    var hue = rgbColor.GetHue();
                                    var saturation = rgbColor.GetSaturation();

                                    lightness = (80 + Math.Sqrt(lightness)) / 1000;

                                    var chroma = (1 - Math.Abs(2 * lightness - 1)) * saturation;

                                    var sextant = hue / 60;
                                    var x = chroma * (1 - Math.Abs((sextant % 2) - 1));

                                    if (0 <= sextant && sextant <= 1)
                                    {
                                        red = chroma;
                                        green = x;
                                        blue = 0;
                                    }
                                    else if (1 < sextant && sextant <= 2)
                                    {
                                        red = x;
                                        green = chroma;
                                        blue = 0;
                                    }
                                    else if (2 < sextant && sextant <= 3)
                                    {
                                        red = 0;
                                        green = chroma;
                                        blue = x;
                                    }
                                    else if (3 < sextant && sextant <= 4)
                                    {
                                        red = 0;
                                        green = x;
                                        blue = chroma;
                                    }
                                    else if (4 < sextant && sextant <= 5)
                                    {
                                        red = x;
                                        green = 0;
                                        blue = chroma;
                                    }
                                    else if (5 < sextant && sextant <= 6)
                                    {
                                        red = chroma;
                                        green = 0;
                                        blue = x;
                                    }

                                    var m = lightness - chroma / 2;

                                    red += m;
                                    green += m;
                                    blue += m;

                                    red *= 255;
                                    green *= 255;
                                    blue *= 255;

                                    if (Model.Times.Where(
                                                        gt => (gt.DayOfWeekId == current.DayOfWeekId) && gt.EndTime == current.StartTime).Any()
                                                        && (i + 8) == (current.StartTime + 1)
                                                    )
                                    {
                                        show = true;
                                    }

                                    style += "background-color: #" + ((int)red).ToString("X2") + ((int)green).ToString("X2") + ((int)blue).ToString("X2") + ";";

                                    <td align="center" style="@style">
                                        <a href="@Url.Action("View", "Group", new { id = current.Group.Id })" style="text-decoration:none; color:white">
                                            @if (show)
                                            {
                                                string shown = current.Group.Course.Name;

                                                if (Model.IsTeacher)
                                                {
                                                    shown = current.Group.Name;
                                                }

                                                <p>@shown</p>
                                            }
                                        </a>
                                    </td>
                                }
                            }
                        </tr>
                }
            </table>
        </div>
    </div>
</div>

<style type="text/css">
    td {
        width: 120px;
        height: 45px;
    }

    th {
        width: 120px;
        height: 45px;
    }

    td {
        overflow: hidden;
    }

    td a {
        display: block;
        margin: -10em;
        padding: 10em;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
