@using LanguageSchool.Models;

@model List<List<Group>>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row thumbnail col-md-12">
    <div class="btn-group-toggle" data-toggle="buttons">
        <table class="table table-bordered">
            <tr>
                <th class="text-center">
                </th>
                <th class="text-center">
                    Poniedziałek
                </th>
                <th class="text-center">
                    Wtorek
                </th>
                <th class="text-center">
                    Środa
                </th>
                <th class="text-center">
                    Czwartek
                </th>
                <th class="text-center">
                    Piątek
                </th>
                <th class="text-center">
                    Sobota
                </th>
                <th class="text-center">
                    Niedziela
                </th>
            </tr>

        @for (int i = 0; i < 12; i++)
        {
            var currentHour = i + 8 + ".15";
            var nextHour = (i + 8 + 1) + ".15";
            <tr>
                <td>@currentHour - @nextHour</td>
                @for (int j = 0; j < 7; j++)
                {
                    string shown = null;
                    Group currentGroup = Model[i][j];
                    if (currentGroup != null)
                    {
                        shown = currentGroup.Course.Name + " (" + currentGroup.Name + ")";
                    }
                    <td>
                        @shown
                    </td>
                }
            </tr>
        }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}