@{
    ViewBag.Title = "Szkoła językowa BeLingua";
}

<body background="~/images/Background_home.jpg">

    <div class="row">
        <div class="jumbotron">
            <h2>Witaj w szkole!</h2>
            <p class="lead">Szkoła językowa BeLingua to profesjonalni pracownicy, ciekawe zajęcia, przyjazna atmosfera oraz przystępne ceny. Sprawdź naszą ofertę i przejdź przez jeden z przykładowych kursów by przekonać się czemu jesteśmy wiodącym wyborem</p>
        </div>
    </div>

    <div class="row">
        <div class="jumbotron col-md-5">
            <h3>Zapoznaj się z naszą ofertą</h3>
            <p><font size="3">Przez cały rok prowadzimy nabór do kursów językowych, o różnych stopniach zaawansowania. Wybierz odpowiedni dla siebie</font></p>
            <p><button class="btn btn-block btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Course")'">Lista kursów</button></p>
        </div>
        <div class="col-md-2">
        </div>
        <div class="jumbotron col-md-5">
            <h3>Pozostaw prośbę o kontakt</h3>
            <p ><font size="3">Wybierz interesujący Cię kurs i pozostaw swoje dane, a jeden z naszych pracowników skontaktuje się z Tobą w odpowiadającym Ci terminie</font></p>
            <p><button class="btn btn-block btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Course")'">Prośba o kontakt</button></p>
        </div>
    </div>

    <div class="navbar navbar-fixed-bottom " style="background-color: darkorange">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <font color="white">
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-home"> Łódź, Piotrkowska 33/2, 95-414</span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-phone" /> <a style="color: white;" href="tel:404-112-461"> 404-112-461 </a><span class="glyphicon glyphicon-envelope" />
                            <a style="color: white;" href="mailto:Be.Lingua@gmail.com"> Be.Lingua@gmail.com</a>
                        </p>
                    </li>
                </ul>
            </font>
        </div>
    </div>
</body>