@{
    ViewBag.Title = "Home Page";
}

<body background="~/images/Background.jpg">

    <div class="row">
        <div class="jumbotron">
            <h2>Witaj w szkole!</h2>
            <p class="lead">Szkoła językowa BeLingua to profesjonalni pracownicy, ciekawe zajęcia, przyjazna atmosfera oraz przystępne ceny. Sprawdź naszą ofertę i przejdź przez jeden z przykładowych kursów by przekonać się czemu jesteśmy wiodącym wyborem</p>
        </div>
    </div>

    <div class="row">
        <div class="jumbotron col-md-5">
            <h3>Zapoznaj się z naszą ofertą</h3>
            <p><font size="3">Przez cały rok prowadzimy nabór do kursów językowych, o różnych stopniach zaawansowania. Wybierz odpowiedni dla siebie</font></p>
            <p><button class="btn btn-block btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Course")'">Lista kursów</button></p>
        </div>
        <div class="col-md-2">
        </div>
        <div class="jumbotron col-md-5">
            <h3>Pozostaw prośbę o kontakt</h3>
            <p ><font size="3">Wybierz interesujący Cię kurs i pozostaw swoje dane, a jeden z naszych pracowników skontaktuje się z Tobą w odpowiadającym Ci terminie</font></p>
            <p><button class="btn btn-block btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Course")'">Prośba o kontakt</button></p>
        </div>
    </div>

    <div class="navbar navbar-fixed-bottom " style="background-color: darkorange" width="100%" />
</body>