@model LanguageSchool.Models.ViewModels.DeleteDialogViewModel

<div class="modal fade" id=@Model.ModalId tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Potwierdź usunięcie</h4>
            </div>
            <div class="modal-body">
                @Model.Dialog
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                <button class="btn btn-danger" type="button" onclick="location.href='@Url.Action(Model.ActionName, Model.ControllerName, new { id = Model.Id })'">Usuń</button>
            </div>
        </div>
    </div>
</div>