@using System.Security.Claims;

@using LanguageSchool.Models.ViewModels

@{
    var role = ((ClaimsIdentity) User.Identity).Claims
                .Where(c => c.Type == ClaimTypes.Role)
                .Select(c => c.Value).FirstOrDefault();
}

@if (role != null)
{
    List<MenuViewModel> menus = Consts.menus.Where(m => m.RoleName == role).ToList();

    <ul class="nav navbar-nav">
        @foreach (MenuViewModel m in menus)
        {
            if (m.SubMenu == null)
            {
                <li>@Html.ActionLink(m.ShownName, m.ActionName, m.ControllerName, routeValues: null, htmlAttributes: new { style = "color:white" })</li>
            }
            else
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style = "color:white">@m.ShownName</a>
                    <ul class="dropdown-menu">
                        @foreach (MenuViewModel sm in m.SubMenu)
                        {
                            <li>@Html.ActionLink(sm.ShownName, sm.ActionName, sm.ControllerName, routeValues: null, htmlAttributes: new { style = "color:black" })</li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>
}

