<li>@Html.ActionLink("Kursy", "Index", "Course", new { @style = "color:white" })</li>
<li>@Html.ActionLink("Materiały", "Index", "Home", new { @style = "color:white" })</li>
<li>@Html.ActionLink("Testy", "Index", "Home", new { @style = "color:white" })</li>
<li>@Html.ActionLink("Dane kontaktowe", "Index", "Home", new { @style = "color:white" })</li>
