@using System.Security.Claims;

@using LanguageSchool.Models.ViewModels

@{
    var role = ((ClaimsIdentity)User.Identity).Claims
                .Where(c => c.Type == ClaimTypes.Role)
                .Select(c => c.Value).FirstOrDefault();
}

@if (role != null)
{
    List<MenuViewModel> menus = Consts.menus.Where(m => m.RoleName == role).ToList();

    <ul class="nav navbar-nav">
        @foreach (MenuViewModel m in menus)
        {
            <li>@Html.ActionLink(m.ShownName, m.ActionName, m.ControllerName, routeValues: null, htmlAttributes: new { style = "color:white" })</li>
        }
    </ul>
}

